
main{
    padding: 7% 0 0 0;
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 90vw;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    margin: 2% auto auto auto;
    width: 60%;
}

input{
    background-color: #00000000;
    border: none;
    border-bottom: 2px solid var(--ButtonColor);

    font-size: 2rem;

    width: 100%;
    padding: 1%;
    caret-color: var(--TextFieldColor);
    margin: 2% 0;
}

input:focus{
    outline: none;
}

input::placeholder{
    font-weight: normal;
    color: var(--TextFieldColor);
}

textarea{
    color: var(--Text);
    font-size: 1.5rem;
    width: 96%;
    align-self: center;
    max-width: 100%;
    resize: vertical;
    padding: 2%;
    border: 4px solid var(--ButtonColor);
    border-radius: 25px;
}

fieldset{
    display: flex; 
    flex-direction: column;
    border: none;
    border-bottom: 4px solid var(--ButtonColor);
    
}


/* Container */

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background-color: var(--MenuColor);
    border: 2px solid var(--ButtonColor);
    border-radius: 25px;
    padding: 4%;
}
.container h1{
    margin: 0px;
    color: var(--TextHighlight);
}
.container > *{margin: 4% 0 0 0;}


/* Botões de limpar e enviar */

#buttons{
    display: flex;
    justify-content: space-between;
}

#buttons button{
    background-color: var(--ButtonColor);
    border: 2px solid var(--ButtonColor);
    border-radius: 25px;

    width: 35%;
    padding: 1% 0;
    
    font-size: 2rem;
    color: var(--Text2);
    text-align: center;
}

#buttons button:hover{
    cursor: pointer;
    background-color: var(--ButtonHoverColor);
}


#title{
    background-size: 35px; 
    background-position: left;
    background-repeat: no-repeat;

    font-weight: bold;
}
#title:hover{
    cursor: pointer;
}
#title:focus{
    background-image: none;
    text-indent: 0px;
    cursor: text;
}
#title::placeholder{
    font-weight: normal;
}