

.owner_event{
    font-weight: bold;
    font-size: 1.25rem;
    padding: 2%;
    width: 8    0%;
    
    margin: 4%;
    border-radius: 25px;
    background-color: var(--MenuColor);
    word-break: break-all;
}

.owner_event div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.owner_event div > a{
    color: var(--Text);
    background-color: #00000000;
    border: none;

    background-image: url("/symbols/PencilIcon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;

    width: 5%;
}
.owner_event a:hover{cursor: pointer;}
.owner_event a:visited{color: var(--Text);}
    
.owner_event h3{
    margin-bottom: 2%;
}

.owner_event > ul{
    color: var(--Text);
    list-style: none;
    padding: 0;
}

.owner_event > ul > li > span {
    font-weight: normal;
    color: var(--TextHighlight);
}