
h2{
    margin-bottom: 4%;
}


button{
    background-color: var(--ButtonColor);
    border: 2px solid var(--ButtonColor);
    border-radius: 25px;

    width: 35%;
    padding: 1% 0;
    
    font-size: 1.5rem;
    color: var(--Text2);
    text-align: center;
}

button:hover{
    cursor: pointer;
    background-color: var(--ButtonHoverColor);
}

.modal-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    transition: opacity 0.3s ease;
}
  
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    height: 35%;
    margin: auto;
    padding: 2%;
    background-color: var(--CardColor);
    color: var(--Text2);

    border: 4px solid var(--ButtonColor);
    border-radius: 25px;
    transition: all 0.3s ease;
}


/* Animações do Vue*/

.modal-enter-from {
    opacity: 0;
  }

.modal-leave-to {
    opacity: 0;
}

.modal-enter-from .modal-container,
.modal-leave-to .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}