:root{
    --borderradius: 15px;
}

main{
    padding: 7%;
}

form{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

input[type=text]{
    height: 7.5vh;
    width: 35vw;
    font-size: 1.5em;
    border-radius: var(--borderradius) 0 0 var(--borderradius);

    background-color: #96DAF7;
    color: var(--Text);
}

input[type=text]::placeholder{
    color: var(--TextFieldColor);
}

button{
    height: 7.5vh;
    width: 7.5vw;

    border-radius: 0 var(--borderradius) var(--borderradius) 0;
    border: none;
    background-color: var(--ButtonColor);
    cursor: pointer;
}

button:hover{
    background-color: var(--ButtonHoverColor);
}

#send-button{
    width: 100%;
}