:root{
    --borderradius: 15px;
}

main{
    padding: 7%;
}


/* Container de pesquisas */

.srch_container{
    margin-bottom: 2%;
}

.srch_container input[type=text] {
    background-color: var(--MenuColor);
    padding: 6px;
    margin-top: 8px;
    font-size: 1.5em;
    width: 40%;
    border: none;
    border-radius: var(--borderradius) 0 0 var(--borderradius);
}

.srch_container button {
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    color: var(--Text2);
    background: var(--ButtonColor);
    font-size: 1.5em;
    border: none;
    border-radius: 0 var(--borderradius) var(--borderradius) 0;
    cursor: pointer;
  }
  
.srch_container button:hover {
    background: var(--ButtonHoverColor);
  }
  

/* Container de tipo de pesquisa */
.contnt_container{
    display: flex;
    flex-direction: row;
    justify-content: left;

    font-size: 1.25em;
    width: 40%;
}

.contnt_container a{
    padding: 5px 10px;
    border-style: solid;
    border-radius: 15px;
    border-color: var(--ButtonColor);
    background-color: var(--ButtonColor);
    margin-right: 10%;

    color: var(--Text2);
}

.contnt_container a:hover {
    background-color: var(--ButtonHoverColor);
}

#selected{
    background-color: var(--Text2);
    color: var(--ButtonColor);
}