@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import './paleta.css';


*{
  margin: 0px;
  font-family: "Inter";
}

body{
  background-color: var(--BackgroundColor);
}

main{
  padding: 7%;
}

/*Testes*/

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
