@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import './css/paleta.css';


:root{
  font-size: 14px;
}

*{
  margin: 0px;
  font-family: "Inter";
}

body{
  display:flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  background-color: var(--BackgroundColor);
}

main{
  margin: none;
  display: flex;
  min-height: 50vh;

  flex-direction: column;
}

footer{
  bottom: 0;
  width: 100%;
}
a{
  text-decoration: none;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
  position:fixed;
}

::-webkit-scrollbar-track {
  background: var(--SubBackgroundColor); 
  
}
 
::-webkit-scrollbar-thumb {
  background: var(--ButtonColor);
  border-radius: 20px;
}
